@media screen and (max-width: 1199px) {
    .section {
        padding: 60px 0;

        &__header {
                text-align: center;
                margin-bottom: 30px;

                @include font(28px, 700, 33px);
        
                color: var(--main-dark-color);
            }
    }
}

@media screen and (min-width: 1200px) {
    .section.skills {
        padding-bottom: 0;
    }
    .section {
        padding: 94px 0;

        &__header {
                text-align: center;
                margin-bottom: 50px;
                @include font(36px, 700, 42px);
        
                color: var(--main-dark-color);
            }
    }
}