:root {
    --main-light-color: #FFF;
    --main-dark-color: #212121;
    --main-background-color: #2F303A;
    --sec-background-color: #F5F4FA;

    --primary-text-color: #757575;
    --accent-color: #2196F3;

    --main-font:'Roboto', sans-serif;
    --logo-font:'Raleway',sans-serif;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}